.grid-container-booklist {
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:1fr;
    grid-column-gap:30px;
    grid-row-gap:30px;
}

.grid-item-booklist {
  display:flex;
  justify-content:space-between;
  flex-direction: column;
  align-items:center;

}
.book-title-table{
    display:table;

}
.book-title {
    display:table-cell;
    overflow-wrap: nowrap;
    inline-size: 80%;
    height:4rem;
    text-align: center;
    vertical-align: middle;
}

.image-center {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.book-desc-text {
    width: 60%;
    
}

.scrollable-row {
    display:flex;
    overflow: auto;
    overflow-x:scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.book-cover:hover {
-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #888888;
}
.input-field {
    background-color:#F7EC74;
    border: none;
    color: black;
}

.search-field {
    width: 30%;
}

.trash-icon {
    color:white;
}

.trash-icon:hover {
    color:yellow
}

#down {
    /* margin-top: 100%;/ */
    padding-bottom: 25%;
}