.custom-banner {
    height: 100vh;
}

#cover-img {
    width: 1rem;
    height: 100px;
    margin: 0 auto;
}
#cover > img {
    /* float: left;
    border: 2px solid black;
    width: 45%;
    margin: 1.66%; */
  }

.horizontal-scroll {
    overflow-x: scroll;
    white-space:nowrap;
}

.list-block{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 2.5rem;
  text-decoration: none;
}