@import "./lists.css";
@import "./books.css";



.bg-orange {
    background-color: #F79F4D;
    min-height:100vh;
}

.bg-pink {
    background-color: #F8B5B8;
    min-height:100vh;
}

.bg-yellow {
    background-color:#FCE374;
}

.bg-green {
    background-color: #6FAB9F;
    min-height:100vh;
}

.content-box {
    width:80%;
}
.big-header-fonts {
    color:black;
    font-size: 3rem;
}

.medium-header-fonts {
    color: black;
    font-size: 1.5rem;
}

.small-header-fonts {
    color: black;
    font-size:1.5rem;
}

.para-fonts {
    color:black;
}

.btn-yellow{
    background-color: #FDE374;
}

.btn-green{
    background-color: #9BD08B;
    width:50%;
}

.btn-pink{
    background-color: #F8B5B8;
}

.btn-yellow:hover {
    background-color: #CCA59A;
}

.btn-green:hover {
    background-color: #CCA59A;
}

.btn-pink:hover {
    background-color: #FDE374;
    color:white;
}

.custom-btn {
    border: none;
    background: none;
}

.h-line {
    border-bottom: 1px solid black;
    
    margin: auto;
}